# .NET / C#
**/bin/
**/obj/
**/[Dd]ebug/
**/[Rr]elease/
*.dll
*.pdb
*.exe
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
apps/api/appsettings.Development.json


# IDEs
.vscode/
.idea/

# OS / Misc
.DS_Store
Thumbs.db

# Logs
logs/
apps/api/logs/
