
# .NET (ignora bin/ y obj/ en todos los subproyectos)
**/bin/
**/obj/
*.user
apps/api/appsettings.Development.json

# Node / Angular
apps/web/node_modules/
apps/web/dist/
apps/web/.angular/

# IDEs
.vscode/
.idea/
*.suo
*.user

# OS
.DS_Store
Thumbs.db
